 #page2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    background-color: #A77244;
    padding-bottom: 20vh;
    border: .3vw solid #4D2B0D;
}

 #table {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10vh;
    border: 5px solid #4D2B0D;
    border-radius: 10vh;
    background-color: #A77244;;

}

.table {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.table-text {
    width: 100%;
    height: auto;
    font-size: 1.5vw;
    margin: 1vh;
    padding: 2vh;
    border: .25vw solid #4D2B0D;
    border-radius: 2vh;

}