body {
    background-color: #060606;
    color: #79fd79; 
    text-align: center;
    font-family: cursive;
    
}

.title {
    font-size: 3vw; 
    font-family: cursive;
    font-weight: bolder; 
    margin-top: 2%; 
    margin-bottom: 2%;
    background-color: #121212;
    width: 50%;
    margin-left: 25%;
    border: 5px solid #79fd79;
    border-radius: 10vw;
}


#chartContainer {
    width: 50%; 
    border: 5px solid #79fd79; 
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 3vw;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 100%;
    text-align: center;
    padding: 1%;
}


#table {
    border:0.1vw solid #79fd79; 
    background-color: #121212;
    color: #79fd79; 
    font-family: cursive; 
    font-weight: bold; 
    border-radius: 1vw; 
    font-size: 100%;
    bottom: 90%;
    margin: auto;
    height: 30%;
    width: 80%;
    font-size: 1vw;
}

.table {
    display: flex;
    width: 80%; 
    height: 5%; 
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    margin: 2%;    
    font-size: 1vw;
    margin: auto;
    justify-content: space-around;
    border-radius: 1vw;
    
}

.Topic {
    border-top: #79fd79 0.1vw solid;
}



td {
    padding: .1vw;
    
   
}
.tabletext {
    width: 30vw;
    border: #79fd79 0.1vw solid;
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    margin: 2%;    
    font-size: 1vw;
    margin: auto;
}






.button {
    background-color: #79fd79; 
    color: #42ac42; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 1vw; 
    border: .5vw solid #65e065; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin: 2%;
    width: 25%;
    height: 5%;
    font-size: 2vw;
   text-shadow: #060606 .05vw .05vw .05vw;
}

#canvasContainer{ 
    width: 40vw; 
    height: 40vw; 
    border: 3px solid #79fd79; 
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 5vw;
    margin: 2%;
    font-size: 100%;
    font-size: 1.5vw;
    margin: auto;

}

#canvas{ 
    width: 100%; 
    height: 100%; 
    border: 3px solid #79fd79; 
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 5vw;
    margin: 2%;
    font-size: 100%;
    font-size: 1.5vw;


}

#page1 {
    border:0.1vw solid #79fd79; 
    background-color: #121212;
    color: #79fd79; 
    font-family: cursive; 
    font-weight: bold; 
    border-radius: 1vw; 
    font-size: 100%;
    bottom: 90%;
    margin: auto;
    height: 30%;
    width: 80%;
    font-size: 1vw;
    padding-bottom: 10px;
}

.page1Input {
    width: 20vw;
    border: #79fd79 0.1vw solid;
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    margin: 2%;    
    font-size: 1vw;
    margin: auto;
}

#totalContainer {
    border:0.1vw solid #79fd79; 
    background-color: #121212;
    color: #79fd79; 
    font-family: cursive; 
    font-weight: bold; 
    border-radius: 1vw; 
    font-size: 100%;
    bottom: 90%;
    margin: auto;
    height: 15%;
    width: 50%;
    font-size: 1vw;
    padding-bottom: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 10px;
    display: flex;
    flex-flow: column;
}

hr {
    border: 0.1vw solid #79fd79;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#Hours {
    width: 2vw;
    border: #79fd79 0.1vw solid;
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    margin: 2vw;    
    font-size: 1vw;
    margin: auto;

}

#moneyLeftContainer {
    width: 20vw; 
    border: .1vw solid #79fd79; 
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 3vw;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 100%;
    text-align: center;
    padding: 1%;
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 1vw;
    left: 1vw;
}

#bottom-bar {
    width: 100%; 
    height: 1vw; 
    background-color: #121212; 
    border-top: .2vw solid #79fd79; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.5vw;
    color: #79fd79;
    font-family: cursive;
    font-weight: bold;
    transition: height 1s Ease;
}