#canvas{ 
    width: 40vw; 
    height: 40vw;
    border: none; 
    background-color:  #D99961; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 5vw;
    margin: 2%;
    font-size: 100%;
    font-size: 1.5vw;


}

#canvasContainer{ 
    width: 40vw; 
    height: 40vw;
    border: 3px solid #4D2B0D; 
    background-color:  #A77244; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 5vw;
    margin: 2%;
    font-size: 100%;
    font-size: 1.5vw;
    margin: auto;

}

#chart-container {
    width: 40vw; 
    height: 40vw; 
    border: 5px solid #79fd79; 
    background-color:  #121212; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 3vw;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 100%;
    text-align: center;
    padding: 1%;
}
