#canvas{ 
    width: 40vw; 
    height: 40vw;
    border: none; 
    background-color:  #D99961; 
    color: #79fd79; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 5vw;
    margin: 2%;
    font-size: 100%;
    font-size: 1.5vw;


}

#canvasContainer{ 
    width: 40vw; 
    height: 40vw;
    border: 3px solid #4D2B0D; 
    background-color:  #A77244; 
    color: #4D2B0D; 
    font-weight: bold; 
    font-family: cursive; 
    border-radius: 5vw;
    margin: 2%;
    font-size: 100%;
    font-size: 1.5vw;
    margin: auto;

}

#chart-container {
    width: 100%; 
    height: 100%; 
    border: .1vw solid #4D2B0D; 
    background-color:  #A77244; 
    color: #4D2B0D; 
    font-weight: bold; 
    font-family: cursive; 
    margin: auto;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 100%;
    text-align: center;
    
    overflow-y: scroll;
}
