#bottom-bar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5vw;

}

.page1, .page2 {
    width: 10%;
    height: 2.5vw;
    background-color: #2dabb9;
    color: white;
    font-size: 1.5vw;
    border: .3vw solid rgb(30, 74, 168);
    cursor: pointer;
    border-radius: 1vw;
    position: relative;
    top: 0%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;

}

.page2 {
    border: .3vw solid #4D2B0D;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #A77244;
    border-bottom: none;
}